[submodule "ESP-GET_READY"]
    path = ESP-GET_READY
    url = https://github.com/MusLead/ESP-GET_READY.git
    branch = main
[submodule "ESP_Communcation_Center"]
	path = ESP_Communcation_Center
	url = https://github.com/MusLead/ESP_Communcation_Center
[submodule "SHVS_Front_End_Server"]
	path = SHVS_Front_End_Server
	url = https://github.com/MusLead/SHVS_Front_End_Server
[submodule "ESP_Sensors_Actuators"]
	path = ESP_Sensors_Actuators
	url = https://github.com/MusLead/ESP_Sensors_Actuators
